/* This styles the body of the html*/
body{
    text-align:center;
    background-image: url(../img/background.jpg)
}

/* This styles our boxes. The dot tells the css that somewhere in the html there is an id called "box"*/
.box{
    
    color: floralwhite;
    text-align:left;
    width:auto;
    height:auto;
}


/* This styles the header1 */
h1{
    color: floralwhite;
    position:relative;
    -webkit-animation:h1Animation 5s;
}

/* This styles the header2 */

h2{
    color: floralwhite;
    position:relative;
    -webkit-animation:h2Animation 5s;
}

/* This styles the header3 */
h3{
    color: floralwhite;
    position:relative;
    -webkit-animation:h3Animation 5s;
}


/* The name canvasAnimation is the name of the animation that the element will perform. 5s is how long the animation is */
canvas{
    position:relative;
    -webkit-animation:canvasAnimation 5s;
}

/* The name of the animation */
@-webkit-keyframes canvasAnimation {

    /* The makes sure the canvasses rotate in the game */
    0%   {-webkit-transform:rotate(90deg);left:0px; top:0px;}
}
/* Animation for the h1 */
@-webkit-keyframes h1Animation {

    0%   {-webkit-transform:rotate(0deg)}
    
    25%   {-webkit-transform:rotate(90deg)}
    
    50%  {-webkit-transform:rotate(180deg)}
    
    75%  {-webkit-transform:rotate(270deg)}
    
    100%  { -webkit-transform:rotate(360deg)}
}

/* Animation for the h2 */
@-webkit-keyframes h2Animation{

    0%   {-webkit-transform: scale(1,2);}

    25%   {-webkit-transform: scale(2,3);}

    50%  {-webkit-transform: scale(3,4);}

    75%  {-webkit-transform: scale(4,5);}

    100%  { -webkit-transform: scale(0,0);}
}

/* Animation for the h3 */
@-webkit-keyframes h3Animation{

    0%   {-webkit-transform: scale(0,0);}

    50% {-webkit-transform: scale(0,0);}

    100%  {-webkit-transform: scale(100,100);}

     

}
